div#expandable-menu-outer {
  width: auto;
  background: blue;
  width: 150px; /* width changes 3 places, including here! */
  top: 0;
  right: 0;
}

div#menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px; /* width changes 3 places, including here! */
  height: 100%;
  color: #bbbbbb;
  background: #222222;
  z-index: 3;
}

div#toggle-button-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px; /* width changes 3 places, including here! */
  height: auto;
  z-index: 999;
}

button.menu-toggle {
  position: relative;
  display: block;
  float: right;
  margin: 0;
  padding: 20px 18px 10px 0;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 400;
  background: none;
  border: none;
  outline: none;
  color: #eeeeee;
  user-select: none;
  text-decoration: underline;
}

button.menu-toggle:hover {
  cursor: pointer;
}

div#expandable-menu-container {
  width: 100%;
  padding: 80px 0 0 0;
}

.menu-header {
  width: 80%;
  margin: 20px 10% 50px 10%;
  padding: 0;
  color: #eeeeee;
  font-size: 1.8em;
  text-align: center;
  border-bottom: thin solid #555555;
}

div.type-filter-button-container {
  width: 80%;
  margin: 10px 10% 10px 10%;
  border-bottom: thin solid #555555;
}

div.type-filter-button-container button {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  color: inherit;
}

div.type-filter-button-container button:hover {
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

div.type-filter-button-container button.active {
  color: #5fc4d8;
}
