div#expanded-menu-container {
  position: relative;
  top: 0;
  right: 0;
  width: 150px; /* NOTE: Change this here and below when editing! */
  background: #222222;
  height: 100%;
  color: #cccccc;
  overflow: hidden;
  z-index: 999;
}

div#inner-fixed-menu-container {
  position: fixed;
  top: 0;
  width: 100%;
}

div#inner-relative-menu-container {
  position: relative;
  float: left;
  width: 150px; /* NOTE: Change this here and above when editing! */
}

h3#menu-header {
  width: 80%;
  margin: 20px 10% 40px 10%;
  padding: 0;
  color: #dddddd;
  text-align: center;
  border-bottom: thin solid #555555;
}

div#category-filters {
  width: 100%;
}

div.type-filter-button-container {
  width: 80%;
  margin: 10px 10% 10px 10%;
  border-bottom: thin solid #555555;
}

div.type-filter-button-container button {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  color: inherit;
}

div.type-filter-button-container button:hover {
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

div.type-filter-button-container button.active {
  color: #5fc4d8;
}
