div#admin-portal {
  background: #fff9ef;
}

#admin-welcome-message {
  display: block;
  position: relative;
  float: right;
}

#main-editor {
  float: none;
  clear: both;
}

#main-editor h1 {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin: 50px 0 50px 0;
  padding: 0 0 10px 0;
  border-bottom: 7px solid #96acb5;
  text-align: center;
}

.editor-section {
  display: block;
  position: relative;
  float: none;
  clear: both;
  width: 90%;
  margin: 50px 0 50px 0;
  padding: 0 5% 50px 5%;
  border-bottom: thin solid #718891;
}

@media (max-width: 900px) {
  .html-pane {
    width: 95%;
  }
}

#entries-container {
  width: 90%;
  padding: 5%;
}

div.entry {
  float: left;
  padding: 10px;
  margin: 10px;
  background: #eeeeee;
  border-radius: 5px !important;
  border: thin solid #aaaaaa;
  box-shadow: -2px 2px 5px #cccccc;
}

div.entry:hover {
  cursor: pointer;
  background: #ffffff;
}

div.entry div {
  padding: 5px;
}

div.entry div span {
  padding: 5px;
  cursor: default;
  user-select: none;
}

div.entry div span:hover {
  cursor: pointer;
  user-select: none;
}
