button,
input[type="submit"] {
  display: block;
  position: relative;
  float: left;
  margin: 10px;
  padding: 5px;
  background: #eeeeee;
  font-weight: 700;
  box-shadow: inset 0px 0px 6px #dddddd;
  border-radius: 5px;
}

#admin-welcome-message {
  display: block;
  position: relative;
  float: right;
}

#main-editor {
  float: none;
  clear: both;
}

#main-editor h1 {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin: 50px 0 50px 0;
  padding: 0 0 10px 0;
  border-bottom: 7px solid #dddddd;
  text-align: center;
}

.editor-section {
  display: block;
  position: relative;
  float: none;
  clear: both;
  width: 90%;
  margin: 50px 0 50px 0;
  padding: 0 5% 50px 5%;
  border-bottom: thin solid #bbbbbb;
}

.entry-attribute-form-element {
  position: relative;
  float: left;
  margin: 10px;
  background: #eeeeee;
  padding: 5px;
  border-radius: 5px !important;
  border: thin solid #aaaaaa;
  box-shadow: -2px 2px 5px #cccccc;
}

.html-pane {
  display: block;
  position: relative;
  float: left;
  width: 46%;
}

@media (max-width: 900px) {
  .html-pane {
    width: 95%;
  }
}

#html-left-pane label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

#html-left-pane textarea {
  display: block;
  position: relative;
  width: 99%;
  height: 200px;
  z-index: 99;
  resize: vertical;
}

#html-right-pane {
  margin-left: 1%;
}

#html-right-pane span#html-preview {
  display: block;
  position: relative;
  width: 95%;
  height: 190px;
  padding: 2.5%;
  bottom: 0;
  resize: both;
  border: thin solid #777777;
  box-shadow: 0px 0px 5px #aaaaaa;
  margin-top: 1em;
  overflow: scroll;
}

#html-preview {
  background: #ffffff;
}

#entries-container {
  width: 90%;
  padding: 5%;
  margin-bottom: 100px;
}

div.entry {
  float: left;
  padding: 10px;
  margin: 10px;
  background: #eeeeee;
  border-radius: 5px !important;
  border: thin solid #aaaaaa;
  box-shadow: -2px 2px 5px #cccccc;
}

div.entry:hover {
  cursor: pointer;
  background: #ffffff;
}

div.entry div {
  padding: 5px;
}

div.entry div span {
  padding: 5px;
  cursor: default;
  user-select: none;
}

div.entry div span:hover {
  cursor: pointer;
  user-select: none;
}
