div#featured-entries {
  display: block;
  position: relative;
  float: none;
  width: 100%;
  background: magenta;
}

div#featured-entries h2 {
  display: none;
}

div.featured-entry {
  display: block;
  position: relative;
  float: left;
  width: 30%;
}
