div#main-entries-container {
  float: none;
  padding: 0;
  width: 100%;
}

.entry-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: left;
  width: 100%;
  margin: 50px 0 50px 0;
}

.entry-date {
  order: 1;
  flex: none;
}

.entry-date span {
  display: block;
  position: relative;
  padding: 10px;
  text-align: right;
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.entry-right {
  order: 2;
  flex: flex-shrink;
  padding-left: 2%;
  min-height: 10em;
  border-left: thin solid #bbbbbb;
}

.entry-title {
  float: left;
}

.entry-contents {
  float: left;
  width: 100%;
}

.large {
  display: block;
  position: relative;
  float: none;
  clear: both;
  width: 100%;
  max-width: 1300px;
  margin: 20px 0 0 0;
}

@media (min-width: 700px) {
  .aside {
    display: block;
    position: relative;
    float: left;
    width: 48%;
    margin: 1% 2% 1% 0;
  }
}

@media (max-width: 700px) {
  .aside {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin: 2% 0 2% 0;
  }
}
