div#main-entries-container {
  float: none;
  padding: 0 0 330px 0;
  width: 100%;
}

div#page-splitter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

div#entries-right-menu {
  order: 2;
  flex: 0 0 0;
  -webkit-flex: 0 0 0;
}

div#entries-left-side {
  order: 1;
  flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
}

.entry-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  float: left;
  width: 100%;
  margin: 50px 0 50px 0;
}

.entry-date {
  order: 1;
  flex: 0 0 auto;
}

.entry-date span {
  display: block;
  position: relative;
  padding-left: 25px;
  text-align: right;
  font-family: "Work Sans", sans-serif;
  font-size: 14pt;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.entry-right {
  order: 2;
  flex: 0 1 auto;
  padding-left: 2%;
  min-height: 10em;
  border-left: thin solid #bbbbbb;
}

.entry-title {
  float: left;
}

.entry-contents {
  float: left;
  width: 100%;
}

.large {
  display: block;
  position: relative;
  float: none;
  clear: both;
  width: 100%;
  max-width: 1300px;
  margin: 20px 0 0 0;
}

@media (min-width: 700px) {
  .aside {
    display: block;
    position: relative;
    float: left;
    width: 48%;
    margin: 1% 2% 1% 0;
  }
}

@media (max-width: 700px) {
  .aside {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin: 2% 0 2% 0;
  }
}

div#load-more-button {
  float: none;
  clear: both;
  width: 100%;
  padding: 0 0 100px 0;
  text-align: center;
}

div#load-more-button button {
  display: inline-block;
  -webkit-display: inline-block;
  background: none;
  outline: none;
  border: none;
  user-select: none;
  font-family: "Arsenal", serif;
  font-size: 14pt;
  font-style: italic;
  font-weight: 700;
  color: #333333;
}

div#load-more-button button:hover {
  cursor: pointer;
  color: #777777;
}
