div#expandable-menu-outer {
  width: auto;
  width: 200px; /* width changes 3 places, including here! */
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 999;
}

div#menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* width changes 3 places, including here! */
  height: 100%;
  color: #bbbbbb;
  background: #222222;
  z-index: 999;
  overflow: hidden;
}

div#expandable-menu-container {
  width: 100%;
  padding: 80px 0 0 0;
}

.menu-header {
  width: 80%;
  margin: 20px 10% 50px 10%;
  padding: 0;
  color: #eeeeee;
  font-size: 1.8em;
  text-align: center;
  border-bottom: thin solid #555555;
}
