div#nav-bar {
  position: fixed;
  width: 95%;
  height: 50px;
  padding: 15px 2.5% 15px 2.5%;
  top: 0;
  left: 0;
  z-index: 997;
}

div#nav-bar-header {
  float: right;
  font-size: 1.2em;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #666666;
  text-align: right;
}

span#title {
  display: block;
  position: relative;
  padding: 10px 10px 3px 10px;
  margin: auto auto 0 auto;
  letter-spacing: 0.1em;
  font-weight: 400;
  cursor: default;
  user-select: none;
  border-bottom: thin solid #cccccc;
}

span#sub-title {
  display: block;
  position: relative;
  float: none;
  font-size: 0.7em;
  color: #777777;
  font-family: "Work Sans", sans-serif;
  padding: 5px 0 10px 0;
  margin: 0 auto auto 10px;
  text-align: left;
}
