/*********** Universal Stylings *************/
div#main-entries-container {
  float: none;
  padding: 0 0 330px 0;
  margin-top: 150px;
  width: 100%;
}

div#page-splitter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

div#entries-right-menu {
  order: 1;
  flex: 0 0 0;
  -webkit-flex: 0 0 0;
  background: orange;
}
